@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: linear-gradient(
    to right bottom,
    #9bdc8a,
    #6ee1b8,
    #5de0e0,
    #7adaf7,
    #a6d3fb
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.image-cropper {
  width: 280px;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #e88870;
  margin: 10px;
}

img {
  display: inline;
  margin: 0 auto;
  width: auto;
}
